//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
//@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
//@theme "/usr/share/rofi/themes/lb.rasi"
//@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/dan/.local/share/rofi/themes/material.rasi"
//@theme "/home/dan/.local/share/rofi/themes/nord.rasi"
@theme "/usr/share/rofi/themes/Monokai.rasi"
